<div>
	<hr>
	<div>
		<ul class="footer-social">
			<li>
				<a href="https://twitter.com/ClamClient" target="_blank">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="http://www.reddit.com/r/CLAMClient/" target="_blank">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="fa fa-reddit fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>	
			<li>
				<a href="https://bitcointalk.org/index.php?topic=623147" target="_blank">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="fa fa-btc fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="http://www.stumbleupon.com/submit?url=http://clamclient.com" target="_blank">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="fa fa-stumbleupon fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>	
			<li>
				<a href="https://github.com/nochowderforyou/clams" target="_blank">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="fa fa-github fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="https://poloniex.com/exchange/btc_clam" target="_blank">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="http://www.reddit.com/r/CLAMS4CLAMS/" target="_blank">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="fa fa-reddit-square fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="http://webchat.freenode.net/?channels=clams" target="_blank">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="https://www.youtube.com/channel/UCmhbGn7eOO_sEHam5Nzih2g" target="_blank">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/clamclient" target="_blank">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="http://clamsight.com/" target="_blank">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="fa fa-search fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
		</ul>
	</div>
	<div style="clear:both;width:100%;"><span>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. Powered by <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> adapted from the <a href="http://mademistakes.com/minimal-mistakes/" rel="nofollow">Minimal Mistakes</a> theme.  <a href="#site-nav">RETURN TO TOP.</a></span></div>
</div>