<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}/">{{ site.title }}</a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
				    {% if link.url contains 'http' %}
				        {% assign domain = '' %}
				        {% else %}
				        {% assign domain = site.url %}
				    {% endif %}
				    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
				{% endfor %}
				<li>
					<a href="https://twitter.com/ClamClient">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="rounded fa fa-twitter fa-stack-1x"></i>
					</a>
				</li>
				<li>
					<a href="http://www.reddit.com/r/CLAMClient/">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="rounded fa fa-reddit fa-stack-1x"></i>
					</a>
				</li>	
				<li>
					<a href="https://bitcointalk.org/index.php?topic=623147">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="rounded fa fa-btc fa-stack-1x"></i>
					</a>
				</li>
				<li>
					<a href="http://www.stumbleupon.com/submit?url=http://clamclient.com">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="rounded fa fa-stumbleupon fa-stack-1x"></i>
					</a>
				</li>	
				<li>
					<a href="https://github.com/nochowderforyou/clams">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="rounded fa fa-github fa-stack-1x"></i>
					</a>
				</li>
				<li>
					<a href="https://poloniex.com/exchange/btc_clam">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="rounded fa fa-bar-chart-o fa-stack-1x"></i>
					</a>
				</li>
				<li>
					<a href="http://www.reddit.com/r/CLAMS4CLAMS/">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="rounded fa fa-reddit-square fa-stack-1x"></i>
					</a>
				</li>
				<li>
					<a href="http://webchat.freenode.net/?channels=clams">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="rounded fa fa-terminal fa-stack-1x"></i>
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/channel/UCmhbGn7eOO_sEHam5Nzih2g">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="rounded fa fa-youtube fa-stack-1x"></i>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/clamclient">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="rounded fa fa-facebook fa-stack-1x"></i>
					</a>
				</li>
				<li>
					<a href="http://clamsight.com/">
						<i class="fa fa-circle fa-stack-2x icon-background"></i>
						<i class="rounded fa fa-search fa-stack-1x"></i>
					</a>
				</li>
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->