	<h3>CLAMs Quicklaunch</h3>
	{% for currPage in site.data.quicklaunch %}
	<article>
		{% if currPage.url %}
		<h2 class="link-post"><a href="{{ site.url }}{{ currPage.url }}" title="{{ currPage.title }}">{{ currPage.title }}</a> <a href="{{ currPage.url }}" target="_blank" title="{{ currPage.title }}"><i class="fa fa-link"></i></h2>
		{% else %}
        <h2><a href="{{ site.url }}{{ currPage.url }}" title="{{ currPage.title }}">{{ currPage.title }}</a></h2>
			{% if currPage.excerpt %}
			<p>{{ currPage.excerpt | strip_html | truncate: 160 }}</p>
			{% endif %}
      {% endif %}
	</article>
	{% endfor %}