<ul style="display:inline;list-style: none;padding: 0;margin:0;">
	<li><a href="https://twitter.com/ClamClient" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>	
	<li><a href="http://www.reddit.com/r/CLAMClient/" class="icon rounded fa-reddit"><span class="label">Reddit</span></a></li>	
	<li><a href="https://bitcointalk.org/index.php?topic=623147" class="icon rounded fa-btc"><span class="label">BitcoinTalk</span></a></li>
	<li><a href="http://www.stumbleupon.com/submit?url=http://clamclient.com" class="icon rounded fa-stumbleupon"><span class="label">StumbleUpon</span></a></li>	
	<li><a href="https://github.com/nochowderforyou/clams" class="icon rounded fa-github"><span class="label">Github</span></a></li>
	<li><a href="https://poloniex.com/exchange/btc_clam" class="icon rounded fa-bar-chart-o"><span class="label">Poloniex</span></a></li>
	<li><a href="http://www.reddit.com/r/CLAMS4CLAMS/" class="icon rounded fa-reddit-square"><span class="label">Reddit NSFW</span></a></li>
	<li><a href="http://webchat.freenode.net/?channels=clams" class="icon rounded fa-terminal"><span class="label">IRC Channel</span></a></li>
	<li><a href="https://www.youtube.com/channel/UCmhbGn7eOO_sEHam5Nzih2g" class="icon rounded fa-youtube"><span class="label">YouTube</span></a></li>
	<li><a href="https://www.facebook.com/clamclient" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
	<li><a href="http://clamsight.com/" class="icon rounded fa-search"><span class="label">Block Explorer</span></a></li>	
	<!--<li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>-->
	<!--<li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>-->
	<!--<li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>-->
	<!--<li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>-->
</ul>